
Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug

# Core dependencies
numpy
pandas
scikit-learn
scipy
matplotlib 
seaborn

# NLP & Text Processing
spacy
nltk

# Kaggle API
kaggle
kagglehub
kagglehub[hf-datasets]

# Data handling
tqdm
jsonlines

# For model training
--extra-index-url https://download.pytorch.org/whl/cu128
torchvision
torchaudio
torch
transformers
transformers[torch]

# Last one to run:
# python -m spacy download en_core_web_sm